<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <h1>Basketball Team Signup</h1>
 </head>
 <br>
 <body>
   <form method="POST" action="/team">
      <p>Team Name:<input type="text" name="Team Name"></p>
      <p>Coach:<input type="text" name="Coach"></p>
      <input type="text" name="Point Guard">
      <input type="submit">
 </body>
</html>
