<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
      <input type="text" name="Team Name">
      <input type="text" name="Coach">
      <input type="text" name="Point Guard">
      <input type="submit">
 </body>
</html>
